@font-face {
    font-family: futura-bold;
    src: url(Futura_PT/FuturaPTBold.otf);
}
@font-face{
    font-family: futura-medium;
    src: url(Futura_PT/FuturaPTMedium.otf);
}
@font-face{
    font-family: futura-light;
    src: url(Futura_PT/FuturaPTLight.otf);
}

label{
    font-size:18px;
    font-family: futura-medium;
}
body{
    font-family: "futura-light";
    font-size:14px;
}

h1{
    line-height:1.7;
    font-family: "futura-medium";
    letter-spacing: 5px;
    text-transform: uppercase;
}
hr{
    width:80vw;
    text-align:center;
    background-color: black;
    transform: translate(0,50%);
}
nav{
    background-color: #fff;
    color:black;
}
nav img{
    top:10px;
    width:8vw;
    padding: 20px;
}
nav .title{
    text-align: center;
    padding: 18px 0;
}
nav .title h1{
    margin:0;
}
form{
    padding: 16px;
    padding-bottom: 100px;
    /* border-left: 4px solid transparent; */
    /* transition: all 0.4s; */
}
form:hover{
    box-sizing: content-box;
    /* border-left: 4px solid #d81b60; */
}
.container .row{
    /* padding: 6px 0; */
}

.no-padding{
    padding: 0;
}

.preview-box{
    padding-top: 15px;
    max-height: 90%;
    overflow: hidden;
}
.preview{
    line-height: 1.4rem;
    padding: 10px;
    margin-bottom: 10px;
    /*background-color: #ffebee;*/
    width: 100%;
}
.prv p{
    font-family: futura-medium;
    font-size:18px;
    transform:translate(0,50%);
    -webkit-transform: translate(0,50%);
}

.fab{
    z-index: 200;
    background: #d81b60;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin: 1rem;
    position: fixed;
    width: 55px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    bottom: 20px;
    right:20px;
    color: white;
    border:0;
    font-size: 18px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}

.fab:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* .btn-preview-copy{
    display: none;
} */
.preview p{
        margin:0;
    }
em{
    opacity: 0.5;
}
.modal-control{
/* position: relative;
bottom:18px; */
}
.speech-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    margin-top:10px;
    padding-bottom:36px;
    margin-bottom: 18px;
}
.speech-wrapper .bubble {
    width: 100%;
    height: auto;
    display: block;
    background: #fffefe;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    margin: 0 0 25px;
}
.speech-wrapper .bubble.alt {
    margin: 0 0 0 0px;
}
.speech-wrapper .bubble .txt {
    padding: 8px 55px 8px 14px;
}
.speech-wrapper .bubble .txt .name {
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 4px;
    color: #3498db;
}
.speech-wrapper .bubble .txt .name span {
    font-weight: normal;
    color: #b3b3b3;
}
.speech-wrapper .bubble .txt .name.alt {
    color: #090909;
}
.speech-wrapper .bubble .txt .message {
    font-size: 12px;
    margin: 0;
    color: #2b2b2b;
}
.speech-wrapper .bubble .txt .timestamp {
    font-size: 11px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    text-transform: uppercase;
    color: #999;
}
.speech-wrapper .bubble .bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 42px;
    left: -16px;
    height: 0;
}
.speech-wrapper .bubble .bubble-arrow.alt {
    right: -2px;
    bottom: 40px;
    left: auto;
}
.speech-wrapper .bubble .bubble-arrow.alt:after {
    transform: rotate(45deg) scaleY(-1);
}
body .preview-box{
    position: fixed;
    top: -150%;
    transition: 0.4s all;
    padding-bottom: 15px;
}
body .preview-box .speech-wrapper{
    max-height: calc(100vh - 265px);
    overflow: scroll;
    min-height: 300px;
}
body.modal-open .preview-box{
    top:32px;
    width: calc(100% - 40px);
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.modal-content{
    z-index: 100 !important;
}
.modal-backdrop{
    z-index: 50 !important;;
}

.btn{
    margin-left: 3px;
    margin-right: 3px;
}
@media(min-width: 576px){
    .no-padding{
        padding: 15px;
    }   
    .preview-box{
        padding-top: 20px;
    }
    .fab{
        display: none;
    }
    .overlay{
        display: none;
    }
    body .preview-box{
        position: relative;
    }
    body .preview-box .speech-wrapper{
        max-height:none;
        overflow:visible;
        min-height:unset;
    }
    .btn-close-modal{
        display: none;
    }
    body.modal-open .preview-box{
        top:unset;
        width: unset;
        background: #fff;
        border-radius: 0;
        box-shadow:unset;
        z-index: 100;
    }
    .btn-success {
        color: #fff;
        background-color: #f8afad;
        border-color:#f8afad;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .btn-succes:hover{
        color:#fff;
        background-color: #f79592;
        border-color:#f79592;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .btn-primary {
        color: #fff;
        background-color: #f79592;
        border-color:#f79592;
    }
    .btn-primary:focus {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);s
    }
}